node_modules
# keep dist to support static docker builds
.git
.gitignore
npm-debug.log*
yarn-error.log*
.angular
.vscode
.DS_Store
node_modules
.git
.angular
.vscode
.idea
npm-debug.log
Dockerfile
docker-compose.yml
.gitignore
