:host {
  display: block;
}

/* 
   Bootstrap handles most valid layouts now.
   We can add specific overrides here if needed.
*/
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #0d6efd; /* Bootstrap primary */
}

.nav-link {
    color: white;
}
